body {
  background-color: #222;
  background-size: cover;
  color: #eee;
}

.container {
  background-color: rgba(30, 30, 30, 0.8);
  padding: 30px;
}

#feedback {
  font-weight: 600;
}

img {
  display: block;
  margin: 20px auto;
}

.message {
  background-color: #aaa;
  border-radius: 5px;
  color: black;
  font-family: 'Shadows into Light';
  font-size: 30px;
  margin: 20px auto;
  padding: 10px;
  width: 25%;
}

.shake {
  animation: shake 1s;
  position: relative;
}


@keyframes shake {
  0% {
    transform: translate(3px, 0px);
  }

  15% {
    transform: translate(-6px, 0px);
  }

  45% {
    transform: translate(5px, 0px);
  }

  75% {
    transform: translate(-4px, 0px);
  }
}